body {
  background-color: #60d9f1;
  margin: 0;
  font-family: sans-serif;
}

.container {
  /*margin: 0 auto;*/
  width: 100vw;
  height: 100vh;
}



header {
  text-align: center;
  margin: 0 10px;
}

.search {
  border: 1px solid red;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#searchText {
  flex-basis: 100%;
}

.test {
  border: 1px solid black;
  width: 150px;
  height: 200px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  /*width: 150px;*/
  /*height: 150px;*/
  flex: 5;
  border: 1px solid red;
  margin: 0;
  background-color: red;
}

.test h1, .test p {
  border: 1px solid red;
  flex: 1;
  margin: 0;
  text-align: center;
}

.player {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100vw;
}

.music-player {
  width: 100vw;
  margin: 0;
  padding: 0;
}
