/*font-family: 'Oswald', sans-serif;
font-family: 'Permanent Marker', cursive;*/

body {
  background-color: #60d9f1;
  background-image: url("images/background.jpg");
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  right: -40px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 1em;
  padding: 0 2px;
  color: #F7DC78;
}

p {
  font-family: 'Oswald', sans-serif;
  font: 8px;
  font-weight: 200;
  padding: 0 2px;
  color: white;
}

.container {
  margin: 0 auto;
}

.fixedTop {
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
}

header {
  text-align: center;
  margin: 0;
  padding: 1px 0;
  font-family: 'Permanent Marker', sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#record {
  float: left;
  height: 40px;
  padding: 10px;
  margin-right: 5px;
}

.search {
  background-color: rgba(245,215,83, 0.7);
  padding: 10px;
  position: relative;
  top: -20;
}

.search-form {
  text-align: center;
}

input#searchbox {
  border-radius: 0;
  font-size: .9em;
  font-weight: 200;
  margin-right: -4px;
  height: 24px;
  padding-left: 8px;
  width: 150px;
  font-family: 'Oswald', sans-serif;
  /*border: 1px solid red;*/
}

#submitbutton {
  border-radius: 0 5px 5px 0;
  background-color: #1E2B33;
  border: 0;
  height: 28px;
  font-family: 'Oswald', sans-serif;
  font-size:.9em;
  padding: 0 8px;
  color: #F7DC78;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 110px;
}

.test {
  flex-basis: 150px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

.test:hover {
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid #F7DC78;
}

.image {
  height: 150px;
  margin: 0;
  background-color: #F7DC78;
}

.test h1, .test h2, .test p {
  flex: 1;
  margin: 0;
  text-align: center;
}

.player {
  position: fixed;
  bottom: 0;
  padding-top: 5px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

#nowPlayText {
  padding-left: 10px;
}

.music-player {
  width: 100vw;
}
